/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
/*desde aqui css*/
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
}
p {
  color: #000;
  font-size: 2rem;
}
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img,
picture {
  width: 100%;
  display: block;
}
h1,
h2,
h3 {
  font-family: Lato, sans-serif;
  margin: 2.5rem 0;
  font-weight: 300;
  text-align: center;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
.seccion {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.contenido-centrado {
  max-width: 80rem;
}
.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}
.boton-amarillo {
  background-color: #e08709;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: inline-block;
  border: none;
}
.boton-amarillo:hover {
  background-color: #c77808;
  cursor: pointer;
}
.boton-amarillo-block {
  background-color: #e08709;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: block;
  border: none;
}
.boton-amarillo-block:hover {
  background-color: #c77808;
  cursor: pointer;
}
.boton-rojo-block{
  background-color: red;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: block;
  border: none;
}
.boton-verde {
  background-color: #71b100;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  margin-top: 2.5rem;
  display: inline-block;
  border: none;
}
.boton-verde:hover {
  background-color: #619800;
  cursor: pointer;
}
.dark-mode {
  background-color: #1a1a1a;
}
.dark-mode p {
  color: #fff;
}
.dark-mode a,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4 {
  color: #e1e1e1;
}
.dark-mode .anuncio,
.dark-mode .resumen-propiedad {
  background-color: #333;
  border: 1px solid #333;
}
.dark-mode .anuncio .precio,
.dark-mode .resumen-propiedad .precio {
  color: #71b100;
}
.dark-mode .anuncio .icono,
.dark-mode .resumen-propiedad .icono {
  filter: invert(100%);
}
.dark-mode .texto-nosotros blockquote {
  color: #fff;
}
.dark-mode .formulario label,
.dark-mode .formulario legend,
.dark-mode .formulario p {
  color: #e1e1e1;
}
.dark-mode .formulario input:not([type="submit"]),
.dark-mode .formulario select,
.dark-mode .formulario textarea {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
}
.inicio {
  background-image: url(../img/header.jpg);
}
.header {
  background-color: #333;
  padding: 1rem 0 3rem;
}
.header.inicio {
  background-position: 50%;
  background-size: cover;
}
@media (min-width: 768px) {
  .header.inicio,
  .header.inicio .contenido-header {
    min-height: 70rem;
  }
}
.contenido-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1 {
  text-align: left;
  color: #fff;
  font-weight: 700;
  line-height: 2;
  max-width: 60rem;
}
.footer {
  padding: 2.5rem 0;
  background-color: #333;
  margin-bottom: 0;
}
.footer .contenedor-footer {
  padding-top: 2.5rem;
}
.footer .navegacion {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.footer .copyright {
  color: #fff;
  text-align: center;
}
.derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .derecha {
    align-items: flex-end;
  }
}
.derecha .dark-mode-boton {
  width: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  filter: invert(100%);
}
.derecha .dark-mode-boton:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .derecha .dark-mode-boton {
    margin-top: 0;
  }
}
.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.barra .logo{
  width: 15rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .barra {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .barra .logo{
    width: 20rem;
  }
}
.navegacion {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.5s linear,
    height 0.5s linear;
}
@media (min-width: 768px) {
  .navegacion {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }
}
.navegacion a {
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .navegacion a {
    margin-right: 2rem;
    font-size: 1.8rem;
  }
  .navegacion a:last-of-type {
    margin-right: 0;
  }
}
.navegacion a:hover {
  color: #71b100;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu img {
  width: 5rem;
}
.mostrar {
  visibility: visible;
  opacity: 1;
  height: auto;
}
@media (min-width: 768px) {
  .iconos-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.icono {
  text-align: center;
}
.icono img {
  height: 10rem;
}
.icono h3 {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contenedor-anuncios {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
.anuncio {
  background-color: #eee;
  border: 1px solid #c8c8c8;
  margin-bottom: 2rem;
}
.anuncio .contenido-anuncio {
  padding: 2rem;
}
.anuncio h3,
.anuncio p {
  margin: 0;
}
.precio {
  color: #71b100;
  font-weight: 700;
  font-size: 3rem;
}
.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 40rem;
}
.iconos-caracteristicas li {
  flex: 1;
  display: flex;
}
.iconos-caracteristicas li img {
  flex: 0 0 3rem;
  margin-right: 1rem;
}
.iconos-caracteristicas li p {
  font-weight: 900;
}
.imagen-contacto {
  background-image: url(../img/encuentra.jpg);
}
.imagen-contacto {
  background-position: 50%;
  background-size: cover;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-contacto h2 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}
.imagen-contacto p {
  font-size: 1.8rem;
  color: #fff;
}
@media (min-width: 768px) {
  .seccion-inferior {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
.entrada-blog {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .entrada-blog {
    display: grid;
    grid-template-columns: 1fr 2fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
.entrada-blog:last-of-type {
  margin-bottom: 0;
}
.informacion-meta span {
  color: #e08709;
}
.texto-entrada a {
  color: #000;
  margin-top: 2rem;
  display: block;
}
@media (min-width: 768px) {
  .texto-entrada a {
    margin-top: 0;
  }
}
.texto-entrada h4 {
  margin: 0;
  line-height: 1.4;
}
.texto-entrada h4:after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.5rem;
  background-color: #71b100;
  margin-top: 1rem;
}
.testimonial {
  background-color: #71b100;
  font-size: 2.4rem;
  padding: 2rem;
  color: #fff;
  border-radius: 2rem;
}
.testimonial blockquote {
  padding-left: 5rem;
  position: relative;
}
.testimonial blockquote:before {
  content: "";
  background-image: url(../img/comilla.svg);
  background-repeat: no-repeat;
  width: 6rem;
  height: 8rem;
  display: block;
  position: absolute;
  left: -2rem;
}
.testimonial p {
  text-align: right;
  color: #fff;
}
.formulario p {
  font-size: 1.4rem;
  color: #333;
  margin: 2rem 0 0;
}
.formulario legend {
  font-size: 2rem;
  color: #333;
}
.formulario label {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.formulario input:not([type="submit"]),
.formulario select,
.formulario textarea {
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.formulario textarea {
  height: 20rem;
}
.formulario .forma-contacto {
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formulario input[type="radio"] {
  margin: 0;
  width: auto;
}

@media (min-width: 768px) {
  .contenido-nosotros {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.texto-nosotros blockquote {
  font-weight: 900;
  font-size: 2.2rem;
  margin: 3rem 0 0;
  padding-left: 1rem 0 3rem 0;
}

.alerta {
  padding: .5rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0;
  background-color: red;
}
